*{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body{
    background-image: url("../img/terra.jpg");
    background-size: cover;
}
h1{
    color: white;
    text-align: center;
    font-size: 60px;
    padding-top: 60px;
}
#unsernameGet{
    width: 500px;
    height: 40px;
}
form{
    text-align: center;
    align-items: center;
    width: 600px;
    height: 100px;
    margin: 100px auto;
    display: block;
}
.boxText{
    font-size: 25px;
    text-align: center;
    align-items: center;
    margin: 10px auto;
    margin: 5px;
}
#btnGet{
    color: black;
    font-size: 20px;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 6px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;    
    user-select: none;
}
#btnGet:active{
    transform: translatey(2px);
}
legend{
    font-size: 20px;
    font-style: oblique;
    color: white;
    padding: 5px 10px;
}
#search{
    height: 30px;
    padding: 3px;
}
#information{
    background-color: white;
    display: none;
    text-align: center;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    border: 4px solid black;
}
p{
    font-size: 20px;
    text-align: left;
    padding: 0 25px;
}
#reload{
    margin: 20px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    outline: none;
    cursor: pointer;    
    user-select: none;
}
#reload:active{
    transform: translatey(2px);
}


/*VISUALIZZAZIONE DA TABLET*/
@media (max-width: 980px) {
    body{
        background-size: cover;
        background-repeat: no-repeat;
        background-size: 2000px;
        background-position: -670px -230px;
    }
    fieldset{
        margin: 50px auto;
    }
    #information{
        background-color: white;
        display: none;
        text-align: center;
        align-items: center;
        width: 700px;
        margin: 0 auto;
        border: 4px solid black;
    }
    p{
        font-size: 15px;
        text-align: left;  
    }
}    

/*VISUALIZZAZIONE DA MOBILE VERTICALE*/
@media (max-width: 480px) {
    body{
        background-size: cover;
        background-repeat: no-repeat;
        background-size: 2000px;
        background-position: -670px -230px;
    }
    .boxText{
        font-size: 12px;
        margin: -5px auto;
    }
    #btnGet{
        font-size: 12px;
        top: 4px;
        border: 1px solid black;
    }
    fieldset{
        width: 300px;
        height: 50px;
        margin: 30px auto;
    }
    legend{
        font-size: 13px;
        padding: 10 0;
    }
    #unsernameGet{
        width: 200px;
        height: 20px;
    }
    #search{
        height: 18px;
        padding: 0px;
    }
    #information{
        width: 350px;
        border: 2px solid black;
    }
    h1{
        font-size: 15px;
    }
    h3{
        font-size: 13px;
    }
    h4{
        font-size: 12px;
    }
    p{
        font-size: 12px;
    }
    #reload{
        margin: 20px;
        font-size: 10px;
        padding: 5px;
    }
}